*{
    padding: 0px;
    margin: 0px;
}

.hrader-main{
    background-image: url(/style/elements/new-year-new-me/flat-lay-abstract-composition-with-innovation-elements\ 1.png);
    height: 700px;
}
.hrader-info{
    text-align: right;
    padding-top: 280px;
    width: 1400px;
}
.header-title{
    margin: 20px;
    font-size: 30px;
    font-weight: 600px;
    margin-right: 4px;
}
.header-dicp{
    font-size: 18px;
    margin-bottom: 20px;
}
.header-btn{
    background-color: orangered;
    padding: 17px 27px;
    font-size: 18px;
    border-radius: 5px;
    border: 0px;
    margin-right: 50px;
    margin-top: 5px;

}
/*  main section style */

.section-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 0px;

}
.main-img{
    width: 300px;

}
.main-title{
    font-size: 30px;
    font-weight: 400px;
    margin-bottom: 20px;

}
.main-dicp{
    font-size: 18px;
    font-weight: 200px;
    margin-bottom: 20px;
}
.main-ul{
    margin-left: 16px;
    font-size: 18px;
    font-weight: 300px;
}
.my-plans{
    text-align: center;
    margin: 50px 0px;
    font-size: 40px;
}
.skils{
    display: flex;
    justify-content: space-around;
    margin: 80px 0px;
}
.icons{
    width:200px;
    text-align: center;
}
.icon-title{
    margin: 10px 0px;
    font-weight: 300px;
    font-size: 22px;
}
.last-baner{
    height:150px;
    width: 800px;
    margin: 150px 150px 0px 300px;
    background-image: url(/style/elements/Rectangle\ 4.png);
    padding: 50px;
    margin-bottom: 80px;
    border-radius: 5px;
    

}
.baner-title{
    font-size: 30px;
    margin-bottom: 20px;
}
.baner-btn{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    border: 0px;

}
/* footer part */
.main-footer{
    background-color: black;
    color: #fff;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-taitle{
    font-size: 25px;
    margin-bottom: 15px;
}
.inputype{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 20px;

}
.footer-btn{
    padding: 9px 13px;
    background-color: orangered;
    border-radius: 5px;
    border: 0px;
    font-size: 15px;
    color: #fff;
    

}
